<div class="container d-flex flex-column align-items-center mb-5">

  <h3 class="d-flex justify-content-center mb-4">
    <i class="fa-solid fa-user-pen"></i>&nbsp;<strong>リスト編集</strong>
  </h3>
  
  <!--リスト編集フォーム-->
  <%= form_with url: post_path, model: @post, method: :patch do |f| %>
    <div class="card" style="width: 30rem; height: 51rem; border: 2px solid darkslategray; padding: 20px;">
      <div class="form-group">
        <span style="color: red;">*</span>
        <strong><%= f.label :タスク名 %></strong>
        <%= f.text_field :title, class: "form-control title",required: true, placeholder: "入力してください", style: "width: 100%; box-sizing: border-box;" %>
      </div>
      <div class="form-group">
        <div style="display: flex; justify-content: flex-start; align-items: center;">
          <div style="margin-right: -30px;">
            <strong><%= f.label :期限（開始日） %></strong>
            <%= f.date_field :start_on %>
          </div>
          <div>
            <strong><%= f.label :期限（終了日） %></strong>
            <%= f.date_field :end_on %>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 30px;">
        <strong><%= f.label :関連写真 %></strong>
        <%= f.file_field :image, accept: "image/*", class: "w-100" %>
      </div>
      <div class="form-group">
        <%= f.text_area :memo, class: "form-control", rows: "10", placeholder: "メモ・コメント" %>
      </div>
      <div class="form-group" style="display: flex; align-items: center;">
        <div style="margin-right: 0px;">
          <strong class="mr-2"><%= f.label :タグ %></strong>
          <span style="font-size: 12px;">※半角スペースを入力することで複数のタグを付けることができます。</span>
          <%= f.text_field :tag_name, value: @tag_list, class:"form-control", style: "width: 210px;" %>
        </div>
      </div>
      <div class="form-group">
        <strong><%= f.label :状況 %></strong>
        <div style="display: flex; align-items: center;">
          <div style="margin-right: 25px;">
            <%= f.radio_button :situation_status, '0', id: 'situation_status_from_now', checked: true %>
            <label for="situation_status_from_now">これから!</label>
          </div>
          <div>
            <%= f.radio_button :situation_status, '1', id: 'situation_status_accomplished' %>
            <label for="situation_status_accomplished">達成済み!</label>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 10px;">
        <strong><%= f.label :公開設定 %></strong>
        <div style="display: flex; align-items: center;">
          <div>
            <div style="display: inline-block;">
              <%= f.radio_button :post_status, '0', id: 'post_status_unpublished', checked: true %> 非公開
            </div>
            <div style="display: inline-block;">
              <label for="status_unpublished" style="font-size: 15px;">やることリストへ登録</label>
            </div>
          </div>
          <div>
            <div style="display: inline-block;">
              <%= f.radio_button :post_status, '1', id: 'post_status_published' %> 公開
            </div>
            <div style="display: inline-block;">
              <label for="post_status_published" style="font-size: 15px;">やること・達成したことを共有</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="d-flex align-items-center mt-4">
        <div class="form-group my-3 mr-5">
          <%= link_to "戻る", posts_path, class: "btn btn-outline-secondary", style: "width: 200px; height: 40px; line-height: 30px;" %>
        </div>
        <div class="form-group mt-3">
          <%= f.submit "編集完了", class: "btn btn-outline-primary", style: "width: 200px; height: 40px;" %>
        </div>
      </div>
    </div>
  <% end %>
    
</div>