<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="tabs d-flex justify-content-between align-items-center">
        <ul class="nav nav-tabs" style="width: 100%; display: flex; justify-content: space-between;">
          <li class="nav-item" style="flex: 1; text-align: center;">
            <a class="nav-link <%= 'active' if params[:tab] == 'all_published' %>" data-toggle="tab" href="#all_published"><strong>みんなのリスト（公開中）</strong></a>
          </li>
          <li class="nav-item" style="flex: 1; text-align: center;">
            <a class="nav-link <%= 'active' if params[:tab] == 'published' %>" data-toggle="tab" href="#published"><strong>自分のリスト（公開中）</strong></a>
          </li>
          <li class="nav-item" style="flex: 1; text-align: center;">
            <a class="nav-link <%= 'active' if params[:tab] == 'unpublished' %>" data-toggle="tab" href="#unpublished"><strong>やることリスト(非公開)</strong></a>
          </li>
        </ul>
        <a href="<%= new_post_path %>" class="new-post-btn , btn btn-success ml-auto" style="width: 110px; height: 40px; font-weight: bold;">新規投稿</a>
      </div>

      <div class="tab-content">
        <!-- みんなのリスト（公開中）を表示 -->
        <div id="all_published" class="tab-pane fade <%= 'show active' if params[:tab] == 'all_published' %>">
          <% @all_published_posts.each do |post| %>
            <%= render "mypost", post: post %>
          <% end %>
          <%= paginate @all_published_posts, param_name: 'all_published_page', params: { tab: 'all_published' } %>
        </div>

        <!-- 自分のリスト（公開中）を表示 -->
        <div id="published" class="tab-pane fade <%= 'show active' if params[:tab] == 'published' %>">
          <% @published_posts.each do |post| %>
            <%= render "mypost", post: post %>
          <% end %>
          <%= paginate @published_posts, param_name: 'published_page', params: { tab: 'published' } %>
        </div>
        
        <!-- やることリスト(非公開)を表示 -->
        <div id="unpublished" class="tab-pane fade <%= 'show active' if params[:tab] == 'unpublished' %>">
          <% @unpublished_posts.each do |post| %>
            <%= render "mypost", post: post %>
          <% end %>
          <%= paginate @unpublished_posts, param_name: 'unpublished_page', params: { tab: 'unpublished' } %>
        </div>

      </div>
    </div>
  </div>
</div>