<div class="container d-flex flex-column align-items-center mt-3">

  <!--エラーメッセージ-->
  <% if @post.errors.any? %>
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
      <div>
        <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000; font-size: 2rem;"></i>
      </div>
      <div  class="mb-3", style="margin-top: 10px;">
        <strong>以下のエラーにより保存できませんでした。<br>内容を確認し、再度入力して下さい。&nbsp;<i class="fa-solid fa-person-praying"></i></strong>
      </div>
      <ul class="mb-4" style="color: #ff0000; list-style: none; padding: 0;">
        <% @post.errors.full_messages.each do |message| %>
          <li><strong><%= message %>。</strong></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="d-flex justify-content-center mb-2">
    <i class="fa-solid fa-user-pen"></i>&nbsp;<strong>リスト登録</strong>
  </h3>
  
  <!--リスト登録フォーム-->
  <%= form_with url: posts_path, model: @post, method: :post do |f| %>
    <div class="card" style="width: 40rem; height: 41rem; padding: 20px;">
      <div class="form-group">
        <span style="color: red;">*</span>
        <strong><%= f.label :タスク名 %></strong>
        <%= f.text_field :title, class: "form-control title",required: true, placeholder: "入力してください", style: "width: 100%; box-sizing: border-box;" %>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-start align-items-center">
          <div style="margin-right: 30px;">
            <strong><%= f.label :期限（開始日） %></strong>
            <%= date_field_tag 'post[start_on]', nil %>
          </div>
          <div>
            <strong><%= f.label :期限（終了日） %></strong>
            <%= date_field_tag 'post[end_on]', nil %>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 30px;">
        &nbsp;<i class="fa-regular fa-image mt-1"></i>
        <strong class="ml-2"><%= f.label :関連写真 %></strong>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
      </div>
      <div class="form-group">
        <%= f.text_area :memo, class: "form-control", rows: "5", placeholder: "メモ・コメント" %>
      </div>
      <div class="form-group">
        <strong class="mr-2"><%= f.label :タグ %></strong>
        <span style="font-size: 12px;">※半角スペースを入力することで複数のタグを付けることができます。</span>
        <%= f.text_field :tag_name, placeholder: "例）タグ名 タグ名 タグ名", class:"form-control", style: "width: 600px;" %>
      </div>
      <div class="form-group">
        <strong><%= f.label :状況 %></strong>
        <div style="display: flex; align-items: center;">
          <div style="margin-right: 25px;">
            <%= f.radio_button :situation_status, '0', id: 'situation_status_from_now', checked: true %>
            <label for="situation_status_from_now">これから!</label>
          </div>
          <div>
            <%= f.radio_button :situation_status, '1', id: 'situation_status_accomplished' %>
            <label for="situation_status_accomplished">達成済み!</label>
          </div>
        </div>
      </div>
      <div class="form-group" style=" margin-bottom: 10px;">
        <strong><%= f.label :公開設定 %></strong>
        <div style="display: flex; align-items: center;">
          <div>
            <div style="display: inline-block;">
              <%= f.radio_button :post_status, '0', id: 'post_status_unpublished', checked: true %> 【非公開】
            </div>
            <div style="display: inline-block;">
              <label for="status_unpublished" style="font-size: 15px;">やることリストへ登録</label>
            </div>
          </div>
          <div class="ml-4">
            <div style="display: inline-block;">
              <%= f.radio_button :post_status, '1', id: 'post_status_published' %> 【公開】
            </div>
            <div style="display: inline-block;">
              <label for="post_status_published" style="font-size: 15px;">やること・達成したことを共有</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="d-flex align-items-center mt-2">
        <div class="form-group my-3 mr-5">
          <%= link_to "戻る", my_page_members_path, class: "green_form_btn" %>
        </div>
        <div class="form-group my-3">
          <%= f.submit '登録', class: "pink_form_btn" %>
        </div>
      </div>
    </div>
  <% end %>

</div>