<div class="container my-4">
  
  <div class="tags-section mb-5">
    <h3 class="mb-4" style="font-weight: bold; color: #343a40; border-bottom: 3px solid #6c757d; display: inline-block; padding-bottom: 10px;">
      タグリスト
    </h3>

    <!-- 検索フォーム -->
    <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
      <div class="form-group">
        <%= f.label :search, "タグを検索" %>
        <div class="d-flex align-items-center">
          <%= f.text_field :search, required: true, class: "form-control", placeholder: "タグを入力", style: "width: 20%;" %>
          <%= f.submit "検索", class: "btn-sm btn-primary ml-2" %>
        </div>
      </div>
    <% end %>

    <div class="d-flex flex-wrap">
      <% @tag_list.each do |list| %>
        <%= link_to "##{list.tag_name}", tags_posts_path(tag_id: list.id), class: "badge badge-secondary mx-3 my-1 p-2", style: "font-size: 1.1rem;" %>
        <span style="font-size: 1.4rem; margin-left: -1rem;">
          <%= "(#{list.posts.where(post_status: 'published').count})" %>
        </span>
      <% end %>
    </div>
  </div>

  <!-- 検索結果に紐づく投稿一覧を表示 -->
  <% if @tag.present? %>
    <h3 class="mb-4" style="font-weight: bold; color: #343a40; border-bottom: 3px solid #6c757d; display: inline-block; padding-bottom: 10px;">
      タグ: <%= @tag.tag_name %> の投稿一覧
    </h3>

    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <%= render 'public/posts/mypost', post: post %>
      <% end %>
    <% end %>
  <% end %>
  
</div>
