<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-3 shadow-sm" style="border: 1px solid #ddd; border-radius: 10px;">
        <div class="card-body">
        
          <!--投稿者名と写真表示-->
          <div class="d-flex flex-column align-items-center text-center" style="width: 100%;">
            <%= link_to member_path(@member), class: "text-decoration-none w-100" do %>
              <h3 class="card-name" style="color: black;"><strong><%= @member.name %></strong></h3>
              <div class="d-flex justify-content-center align-items-center mb-4">
                <%= image_tag @member.get_profile_image(400, 400), class: "rounded-circle border border-primary shadow", style: "width: 100px; height: 100px; object-fit: cover;" %>
              </div>
            <% end %>
          </div>
          
          <!--タスク名表示-->
          <h2 class="card-title text-center mb-3" style="font-weight: bold; color: #343a40;"><%= @post.title %></h2>
          
          <!--メモ・コメント表示-->
          <% if @post.memo.present? %>
            <div class="d-flex justify-content-center">
              <p class="card-text" style="font-size: 1.1rem; line-height: 1.6; text-align: left;">
                <%= simple_format(@post.memo) %>
              </p>
            </div>
          <% else %>
            <div class="mb-2"></div>
          <% end %>
          
          <!--写真表示-->
          <% if @post.image.attached? %>
            <div class="text-center mb-4">
              <%= image_tag @post.image, class: "img-fluid rounded shadow-lg", style: "max-height: 400px; object-fit: cover;" %>
            </div>
          <% end %>
          
          <!--状況表示-->
          <div class="d-flex justify-content-center mb-4">
            <p class="card-text mb-0" style="font-size: 20px;">
              <small class="text-muted">
                状況: 
                <% if @post.situation_status == "from_now" %>
                  <span style="color: #1e90ff; font-weight: bold; font-size: 20px;">これから！</span>
                <% else %>
                  <span style="color: #dc143c; font-weight: bold; font-size: 20px;">達成済み！</span>
                <% end %>
              </small>
            </p>
          </div>
          
          <!--取り組み期間表示-->
          <% if @post.start_on.present? || @post.end_on.present? %>
            <div class="d-flex justify-content-center align-items-center my-3">
              <div class="card-text mb-0 d-flex align-items-center">
                <h5 class="text-muted pr-3" style="font-size: 20px;">取り組み期限:</h5>
                <% if @post.start_on.present? %>
                  <h5 class="text-muted pr-3" style="font-size: 20px;"><%= @post.start_on.strftime('%Y年%m月%d日') %></h5>
                <% end %>
                <% if @post.end_on.present? %>
                  <h5 class="text-muted pr-3" style="font-size: 20px;">〜</h5>
                  <h5 class="text-muted" style="font-size: 20px;"><%= @post.end_on.strftime('%Y年%m月%d日') %></h5>
                <% end %>
              </div>
            </div>
          <% end %>
         
          <!-- タグ表示 -->
          <div class="text-center mb-5">
            <% @post_tags.each do |tag| %>
              <% if tag.posts.count > 0 %>
                <%= link_to "##{tag.tag_name}", tags_posts_path(tag_id: tag.id), class: "badge badge-secondary", style: "font-size: 15px;" %>
              <% end %>
            <% end %>
          </div>

          <div class="text-center my-5">
            <% if @post.member == current_member %>
              <%= link_to '編集する', edit_post_path(@post), class: "btn btn-outline-primary mx-2", style: "font-weight: bold;" %>
              <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger mx-2", style: "font-weight: bold;" %>
            <% end %>
            <%= link_to '戻る', posts_path(tab: params[:tab]), class: "btn btn-outline-secondary mx-2" %>
          </div>
          
        </div>
      </div>
      
      <!-- いいねボタン・コメント表示 -->
      <% if @post.post_status == "published" %>
        <div class="row d-flex align-items-center mb-3">
          <!-- いいねボタン表示 -->
          <p class="mx-2 mb-0"><strong><%= render 'public/favorites/button', post: @post %></strong></p>
          <!-- コメント件数表示 -->
          <p id="comment-count-<%= @post.id %>" class="ml-4 mb-0">
            <strong><%= link_to "#{@post.post_comments.count} コメント", post_path(@post.id), class: "text-decoration-none" %></strong>
          </p>
        </div>
        
        <!-- コメント内容表示 -->
        <div id="comment-<%= @post_comment.id %>"><%= render partial: 'public/post_comments/comments', locals: { post: @post } %></div>
       
        <!-- コメント投稿フォーム -->
        <div class="mt-4">
          <%= form_with model: [@post, PostComment.new], url: post_comments_path(@post), remote: true do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", style: "width: 500px;" %>
            <%= f.submit "送信する", class: "btn btn-primary ml-2" %>
          <% end %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>