<div class="container d-flex justify-content-center my-5">
  <div class="row d-flex flex-column align-items-center" style="width: 50%;">
    
    <h3><i class="fa-solid fa-user-pen"></i>&nbsp;<strong><%= @member.name %>さんの会員詳細</strong></h3>
    
    <%= form_with model: @member, url: admin_member_path(@member), method: :patch, class: "w-100 mt-3" do |f| %>
    
      <div class="form-group mb-4">
        <strong><%= f.label :会員ID %></strong>：
        <%= @member.id %>
      </div>
      <div class="form-group mb-4">
        <span style="color: red;">*</span>
        <strong><%= f.label :名前 %></strong>
        <%= f.text_field :name, required: true, class: "form-control name", autofocus: true %>
      </div>
      <div class="form-group">
        <strong><%= f.label :自己紹介 %></strong>
        <%= f.text_area :introduction, class: "form-control introduction", accept: 'image/*', style: "height: 210px;"  %>
      </div>
      
      <div class="d-flex flex-column align-items-center">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="form-group mt-3 mb-5">
              <%= link_to "戻る", admin_member_path, class: "btn btn-outline-secondary", style: "width: 200px; height: 40px; line-height: 30px; font-weight: bold;" %>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group mt-3 mb-5">
              <%= f.submit "編集完了", class: "btn btn-outline-primary", style: "width: 200px; height: 40px; font-weight: bold;" %>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group mt-3 mb-5">
              <%= link_to "アカウント削除", admin_member_destroy_path(@member), class: "btn btn-outline-danger", method: :delete, data: { confirm: "本当に退会しますか？" }, style: "width: 400px; height: 40px; line-height: 30px; font-weight: bold; " %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>