<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      
      <!-- 検索ワードが存在する場合のみ表示 -->
      <% if @content.present? %>
        <!-- Member検索した際の表示 -->
        <% if @model == 'Member' %>
          <h3 class="text-center" style="margin-bottom: 30px;">"<%= @content %>"の検索結果はこちら</h3>
          <% if @members.present? %>
            <% @members.each do |member| %>
              <%= render 'public/members/index', members: @records %>
            <% end %>
            <!--ページネーション-->
            <div class="d-flex justify-content-center mt-4">
              <%= paginate @members %>
            </div>
          <% else %>
            <p class="text-center">検索結果がありません。</p>
          <% end %>

        <!-- Post検索した際の表示 -->
        <% elsif @model == 'Post' %>
          <h3 class="text-center" style="margin-bottom: 30px;">"<%= @content %>"の検索結果はこちら</h3>
          <% if @records.present? %>
            <% @records.each do |post| %>
              <div class="d-flex justify-content-center">
                <div class="col-md-8">
                  <%= render 'public/posts/mypost', post: post %>
                </div>
              </div>
            <% end %>
            <!--ページネーション-->
            <div class="d-flex justify-content-center mt-4">
              <%= paginate @records %>
            </div>
            <% else %>
            <p class="text-center">検索結果がありません。</p>
          <% end %>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>