<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      
      <!-- 検索ワードが存在する場合のみ表示 -->
      <% if @content.present? %>  
        <!-- Member検索した際の表示 -->
        <% if @model == 'Member' %>
          <h3 class="text-center">"<%= @content %>"の検索結果はこちら</h3>
          
          <table class="table table-bordered text-center" style="border-color: black; border: 1px solid black; width: 100%;">
            <thead>
              <tr style="background-color: #c6e2ff;">
                <th class="col-1" style="border: 1px solid black;">ニックネーム</th>
                <th class="col-5" style="border: 1px solid black;">自己紹介</th>
                <th class="col-1" style="border: 1px solid black;">投稿数</th>
                <th class="col-1" style="border: 1px solid black; font-size: 15px;">フォロー数</th>
                <th class="col-1" style="border: 1px solid black; font-size: 15px;">フォロワー数</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <%= render 'admin/members/index', member: member %>
              <% end %>
            </tbody>
          </table>
   
          <!--ページネーション-->
          <div class="d-flex justify-content-center mt-4">
            <%= paginate @members %>
          </div>
        
        <!-- Post検索した際の表示 -->
        <% elsif @model == 'Post' %>
          <h3 class="text-center" style="margin-bottom: 30px;">"<%= @content %>"の検索結果はこちら</h3>
          
          <% @posts.each do |post| %>
            <div class="d-flex justify-content-center">
              <div class="col-md-6">
                <%= render 'admin/posts/all_published_post', post: post %>
              </div>
            </div>
          <% end %>
          
          <!--ページネーション-->
          <div class="d-flex justify-content-center mt-4">
            <%= paginate @posts %>
          </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>