<tr>
  <td class="col-1" style="border: 1px solid black; text-align: center; vertical-align: middle;">
    <%= link_to member_path(member) do %>
      <span style="color: black;"><%= member.name %></span>
      <%= image_tag member.get_profile_image(400, 400), class: "rounded-circle border shadow", style: "width: 100px; height: 100px; border: 3px solid #000; object-fit: cover;" %><br>
    <% end %>
    <div class="my-3">
      <%= render "public/relationships/btn", member: member, options: { class: "follow-link" } %>
    </div>
  </td>
  <td class="col-5" style="border: 1px solid black; vertical-align: middle;">
    <%= simple_format(member.introduction.present? ? member.introduction : "よろしくお願いします。") %>
  </td>
  <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
    <%= link_to member_path(member) do %>
      <%= member.posts.where(post_status: 'published').count %>
    <% end %>
  </td>
  <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
    <%= link_to followings_path(member) do %>
      <%= member.followings.count %>
    <% end %>
  </td>
  <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
    <%= link_to followers_path(member) do %>
      <%= member.followers.count %>
    <% end %>
  </td>
</tr>