<div class="container">
  
  <h4 class="text-center py-2 mb-4" style="font-weight: 600; font-size: 1.5rem; background-color: #c6e2ff; color: #000000; border-radius: 12px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); letter-spacing: 0.5px;">
    ユーザー 一覧
  </h4>
  
  <div class="row my-4">
    <table class="table table-bordered text-center" style="border-color: black; border: 1px solid black; width: 100%;">
      <thead>
        <tr style="background-color: #c6e2ff;">
          <th class="col-1" style="border: 1px solid black;">名前</th>
          <th class="col-5" style="border: 1px solid black;">自己紹介</th>
          <th class="col-1" style="border: 1px solid black;">投稿数</th>
        </tr>
      </thead>
      
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td class="col-1" style="border: 1px solid black; text-align: center; vertical-align: middle;">
              <%= link_to member_path(member) do %>
                <%= member.name %><br>
                <%= image_tag member.get_profile_image(400, 400), class: "rounded-circle border border-primary shadow", style: "width: 100px; height: 100px; border: 3px solid #000;" %>
              <% end %>
            </td>
            <td class="col-5" style="border: 1px solid black; vertical-align: middle;"><%= member.introduction %></td>
            <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
              <%= link_to member_path(member) do %>
                <%= member.posts.count %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>