<div class="container">
  
  <h4 class="text-center py-2 mb-4" style="font-weight: 600; font-size: 1.5rem; background-color: #c6e2ff; color: #000000; border-radius: 12px; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); letter-spacing: 0.5px;">
    ユーザー詳細
  </h4>
  
  <!--ユーザー情報を表示-->
  <div class="row my-4">
    <table class="table table-bordered text-center" style="border-color: black; border: 1px solid black; width: 100%;">
      <thead>
        <tr style="background-color: #c6e2ff;">
          <th class="col-1" style="border: 1px solid black;">ニックネーム</th>
          <th class="col-5" style="border: 1px solid black;">自己紹介</th>
          <th class="col-1" style="border: 1px solid black;">投稿数</th>
          <th class="col-1" style="border: 1px solid black;">フォロー数</th>
          <th class="col-1" style="border: 1px solid black;">フォロワー数</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td class="col-1" style="border: 1px solid black; text-align: center; vertical-align: middle;">
            <%= link_to member_path(@member) do %>
              <%= @member.name %>
              <%= image_tag @member.get_profile_image(400, 400), class: "rounded-circle border border-primary shadow", style: "width: 100px; height: 100px; border: 3px solid #000; object-fit: cover;" %><br>
            <% end %>
            <div class="my-3">
              <%= render "public/relationships/btn", member: @member, options: { class: "follow-link" } %>
            </div>
          </td>
          <td class="col-5" style="border: 1px solid black; vertical-align: middle;"><%= simple_format(@member.introduction) %></td>
          <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
            <%= link_to member_path(@member) do %>
              <%= @member.posts.where(post_status: 'published').count %>
            <% end %>
          </td>
          <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
            <%= link_to followings_path(@member) do %>
              <%= @member.followings.count %>
            <% end %>
          </td>
          <td class="col-1" style="border: 1px solid black; vertical-align: middle;">
            <%= link_to followers_path(@member) do %>
              <%= @member.followers.count %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!--該当ユーザーの公開リストを表示-->
  <div class="row my-4">
    <div class="col-md-8 offset-md-2">
      <% if @published_posts.present? %>
        <% @published_posts.each do |post| %>
          <div class="card mb-3 shadow-sm" style="border: 1px solid #ddd; border-radius: 10px;">
            <div class="card-body my-3 mx-4">
              <h4 class="card-title mb-3"><strong><%= post.title %></strong></h4>
              <p class="card-text mb-4"><%= post.memo %></p>
              <% if post.image.attached? %>
                <%= image_tag post.image, class: "img-fluid" %>
              <% end %>
              
              <div class="mt-3">
                <% post.tags.each do |tag| %>
                  <%= link_to "##{tag.tag_name}", tags_posts_path(tag_id: tag.id), class: "badge badge-secondary" %>
                <% end %>
              </div>
              
              <p class="card-text mt-3">
                <small class="text-muted">
                  状況: 
                  <% if post.situation_status == "from_now" %>
                    <span style="color: #1e90ff">これから！</span>
                  <% else %>
                    <span style="color: #dc143c">達成済み！</span>
                  <% end %>
                </small>
              </p>
              
              <div class="d-flex justify-content-start align-items-center">
                <!-- いいねボタン表示 -->
                <div id="like-button-<%= post.id %>" class="mb-3">
                  <%= render 'public/favorites/button', post: post %>
                </div>
                <!-- コメント数表示 -->
                <p class="ml-4">
                  <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
                </p>
              </div>
              
              <div class="d-flex justify-content-between align-items-center">
                <%= link_to '詳細を見る', post_path(post), class: "btn btn-primary" %>
                <div>
                  <%= post.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>公開されたリストはありません。</p>
      <% end %>
      <!--ページネーション-->
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @published_posts %>
      </div>
    </div>
  </div>
  
</div>