<div class="container mt-5">
  
  <!--エラーメッセージ-->
  <% if @member.errors.any? %>
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
      <div>
        <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000; font-size: 2rem;"></i>
      </div>
      <div  class="mb-3", style="margin-top: 10px;">
        <strong>以下のエラーにより保存できませんでした。<br>内容を確認し、再度入力して下さい。&nbsp;<i class="fa-solid fa-person-praying"></i></strong>
      </div>
      <ul class="mb-4" style="color: #ff0000; list-style: none; padding: 0;">
        <% @member.errors.full_messages.each do |message| %>
          <li><strong><%= message %>。</strong></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2 class="text-center mb-4" style="font-weight: bold; color: #343a40;">新規登録</h2>
  
  <!--新規登録入力フォーム-->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal mx-auto", style: "max-width: 400px;" }) do |f| %>
    <div class="form-group mb-3">
      <span style="color: red;">*</span>
      <strong><%= f.label :ニックネーム, class: "form-label" %></strong>
      <%= f.text_field :name, required: true, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <span style="color: red;">*</span>
      <strong><%= f.label :メールアドレス, class: "form-label" %></strong>
      <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control", style: "width: 100%;" %>
    </div>

    <div class="form-group mb-3">
      <span style="color: red;">*</span>
      <strong><%= f.label :パスワード（６文字以上）, class: "form-label" %></strong>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", minlength: 6 %>
    </div>
    
    <div class="form-group mb-4">
      <span style="color: red;">*</span>
      <strong><%= f.label :パスワード（確認用）, class: "form-label" %></strong>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", minlength: 6 %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "新規登録", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>

  <%= render "public/shared/links" %>
  
</div>